<div class="container">
  <figure class="user-review">
    <figure class="review">
        <blockquote class="review__text">
        Self-confidence is an act with the belief that whatever challenges or influences are internal or external,
         and whatever the psychological, material or personal state, the person, God willing, will achieve his goal.
        </blockquote>
    <figcaption class="review__user">
      <img src="../../assets/people-3.jpg" alt="pic 1" class="review__photo">
        <div class="review__user-box">
            <p class="review__user-name">Nada</p>
            <p class="review__user-date">sep 13th,2022</p>
        </div>
        <div class="review__rating">7.8</div>
    </figcaption>
    </figure>
</figure>
</div>
