
<div class="container">
  <div class="section">
<h1>logo</h1>


  <ul class="list">
      <li><a [routerLink]="['/home']" routerLinkActive="linkactive">Home</a></li>
      <li><a [routerLink]="['/about']" routerLinkActive="linkactive"> About</a></li>
      <li><a [routerLink]="['/speaker']" routerLinkActive="linkactive">Speaker</a></li>
      <li><a [routerLink]="['/department']" routerLinkActive="linkactive">Department</a></li>
      <li><a [routerLink]="['/student']" routerLinkActive="linkactive">Student</a></li>
      <li><a routerLink="/contantus" routerLinkActive="linkactive">Contact Us</a> </li>
      <li><a [routerLink]="['/login']" routerLinkActive="linkactive"> Log in</a></li>

  </ul>
</div>

