
.section {
  background-color: blueviolet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
}
p a{
  color: white;
  text-decoration: none;
}
p{
  margin-top: 1rem;
}
